

.box {
  width: 430px;
  height: 600px;
}

img {
  height: 600px;
  width: 430px;
}

  <div class="box">
<img src="tree_lights.gif" alt="animated xmas tree with lights" class="cover">

<img src="xmas_candy.gif" alt="animated xmas tree that looks like candy" class="cover">

<img src="xmas_volcano.gif" alt="animated xmas tree that turns into a volcano" class="cover">
</div>

