

.box {
  width: 1290px;
  height: 600px;
}

img {
  height: 100%;
  width: 100%;
}

.cover {
  object-fit: cover;
}

.contain {
  object-fit: contain;
}


<div class="wrapper">
  <div class="box">
<img src="tree_lights.gif" alt="animated xmas tree with lights" class="cover">
<img src="xmas_candy.gif alt=""animated xmas tree that looks like candy" class="contain">
<img src=xmas_volcano.gif" alt=""animated xmas tree that turns into a volcano" class="contain">
</div>
